doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='description' content='There are infinite dimensions. So in one I\'m Childish Gambino and he\'s some dumb kid pretending to be himself.')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0 user-scalable=no')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Fira+Sans:500')
    link(rel='stylesheet', href='/css/main.css')
    title
      | Demo
  body
    .content-container-flex
      block content
