extends layout.jade

block content
  if (fail)
    h3.fail Login
    p Login Failed!
  else
    h3 Login
  form(action='/login' method='post')
    .form-input
      label Username
      input(type='text' name='username')
    .form-input
      label Password
      input(type='password' name='password')
    .form-submit
      input(type="submit" value='login')
